[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
click = "*"
six = "*"
itsdangerous = "*"
python-dotenv = "*"
flask = "*"
flask-cors = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
jinja2 = "*"
markupsafe = "*"
sqlalchemy = "*"
werkzeug = "*"
wtforms = "*"
alembic = "*"
mako = "*"
greenlet = "*"
python-dateutil = "*"
python-editor = "*"
psycopg2-binary = "*"
email-validator = "*"
idna = "*"
dnspython = "*"
flask-migrate = "*"
flask-script = "*"

[dev-packages]
psycopg2-binary = "*"

[requires]
python_version = "3.10"
